.list-table {
    width: 40%;
    max-height: 0px;
    overflow-y: auto;
    border-collapse: collapse; 
    border: 1px solid #ddd;
    
}

.list-table th, .list-table td {
    border: 0; /* Ta bort kantlinjer på alla <th> och <td> */
    padding: 10px;
    text-align: center;
    
}

.list-table th {
    background-color: #cacaca;
    font-weight: bold;
}

.list-item {
    border: 1px solid #ddd; /* Lägg till en border runt hela <tr> med klassen "list-item" */
}

.list-item:hover {
    background-color: #ddd; /* Ändra bakgrundsfärgen när du hovrar över rader */
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

/* Styling for info messages */
.info {
    background-color: #007bff;
    color: #fff;
}

/* Styling for error messages */
.error {
    background-color: #dc3545;
    color: #fff;
}