<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDo List{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    {% block content %}
    <div id="myDIV" class="header">
        <h2>My To Do List</h2>
        <form id ="MyForm" method="POST" action="/new_task">
            <input type="text" name="content" placeholder="Content..." required>
            <input type="text" name="categories" placeholder="Category..." required>
        <button type="submit" class="addBtn">Add</button>
        </form>
      </div>
      <nav>
      </nav>
      <ul id="myUL">
        {%for task in tasks%}
         <li>{{task.content}}</li>
        {%endfor%}
      </ul>
    {% endblock %}
</body>
</html>