<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDo List{% endblock %}</title>
</head>
<body>
    {% block content %}
    <ul class="list_clean">
        <li class="list_header">
            <form id ="MyForm" method="POST" action="/new_task">
                <span class="header-item"><input type="text" name="content" placeholder="Task..." required></span>
                <input type="text" name="categories" placeholder="Category..." required>
                <button type="submit" class="addBtn">Add</button>
            </form>
        </li>
        <li class="list-header">
            <span class="header-item">Tasks Pending</span>
            <span class="header-item">Category</span>
            <span class="header-item">Tid</span>
        </li>
        {% for task in tasks %}
        {% if not task.completed %}
        <li class="list-item">
            <span class="item">{{ task.content }}</span>
            <span class="item">{{ task.categories }}</span>
            <span class="item">{{ task.date_created}}</span>
            <form method="POST" action="/update_tasks/{{ task.id }}" class="updateBtn">
            <button type="submit" class="updateBtn">Complete</button>
            </form>
            <form method="POST" action="/delete_task/{{ task.id }}">
            <button type="submit">Delete</button>
            </form>
        </li>
    
        {% endif %}
        {% endfor %}
    </ul>


    <ul class="list_clean">
        <li class="list-header">
            <span class="header-item">Tasks Completed</span>
            <span class="header-item">Category</span>
            <span class="header-item">Tid</span>
        </li>
        {% for task in tasks %}
        {% if task.completed %}
        <li class="list-item">
            <span class="item">{{ task.content }}</span>
            <span class="item">{{ task.categories }}</span>
            <span class="item">{{ task.date_created}}</span>
            <form method="POST" action="/update_tasks/{{ task.id }}" class="updateBtn">
            <button type="submit" class="updateBtn">Uncomplete</button>
        </li>
    </form>
        {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>