<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register user{% endblock %}</title>
</head>
<body>
    {%block content%}
    <div class="table-container">
        <table class="list-table">
            <tr>
                {% if 'user' in session %}
                    <td colspan="3">Välkommen, {{ session['user'] }}!</td>
                    <td>
                        <a href="/modified">Todo List</a>
                        <a href="/logout">Logout</a>
                    </td>
                {% else %}
                    <td colspan="3">
                        <a href="/modified">Todo List</a>
                        <a href="/register">Register</a>
                        <a href="/login">Login</a>
                    </td>
                {% endif %}
            </tr>
                <th colspan="3"><h2>Register</h2></th>
            </tr>
                <td>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flash-messages">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                                    </ul>
                        {% endif %}
                    {% endwith %}
                </td>
            <tr>
                <form id ="MyForm" method="POST" action="/register">
                <td>
                    <input type="text" name="username" placeholder="Användarnamn..." required>
                    <input type="text" name="password" placeholder="Lösenord..." required>
                    <input type="text" name="password2" placeholder="Bekräfta password.." required>
                    <button type="submit" class="addBtn">Register</button>
                </td>             
                </form>
            </tr>
    {%endblock%}
</body>
</html>