<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register user{% endblock %}</title>
</head>
<body>
    {%block content%}
    <div class="table-container">
        <table class="list-table">
            
                <th><h1>Register</h1></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="list-item">
                <form id ="MyForm" method="POST" action="/register">
                <td>
                    <input type="text" name="username" placeholder="username..." required>
                </td>
                <td>
                    <input type="text" name="password" placeholder="password..." required>
                </td>
                <td>
                    <button type="submit" class="addBtn">Register</button>
                </td>
                    
                </form>
    {%endblock%}
</body>
</html>